@{
    var types = new List<string>();
    types.Add("Weapon");
    types.Add("Animals");
    ViewBag.Types = types;
}

<h1 class="title">@ViewBag.Title</h1>

<h1 class="title">@ViewBag.Debug</h1>
<h1 class="title">@ViewBag.Debug2</h1>

<div class="container">
    <div class="row">
        <div class="col-sm main-form">
            <div class="destination-selector">
                <label class="destination-selector__label">From</label>
                <select id="from-field" class="form-control">
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>

            <div class="destination-selector">
                <label class="destination-selector__label">To</label>
                <select id="to-field" class="form-control">
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="destination-selector">
                <label class="destination-selector__label">Weight</label>
                <select id="weight-field" class="form-control">
                    @foreach (var item in ViewBag.WeightCategories)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>

            <div class="destination-selector">
                <label class="destination-selector__label">Type</label>
                <select id="type-field" class="form-control">
                    @foreach (var item in ViewBag.CargoTypes)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>

            <div class="destination-selector">
                <label class="destination-selector__label">Package Size</label>
                <div class="text-input-group">
                    <input id="size-length" type="text" placeholder="Length" class="form-control" />
                    <input id="size-width" type="text" placeholder="Width" class="form-control" />
                    <input id="size-height" type="text" placeholder="Height" class="form-control" />
                </div>
            </div>
            
            <div class="text-input-group">
                <div class="destination-selector">
                    <label class="destination-selector__label">Customer ID</label>
                    <input id="customerId-input" type="text" class="form-control" />
                </div>

                <div class="destination-selector">
                    <label class="destination-selector__label">Discount</label>
                    <input id="discount-input" value="0" type="number" min="0" max="15" maxlength="2" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="main-logo">
                <img src="/Img/PackagePlannerLogo-desktop.png" />
            </div>
        </div>
    </div>
</div>

<div class="row go-button">
    <button id="go-button" class="btn btn-light">Check</button>
</div>

<div class="spinner" id="spinner">
    <img class="spinner-icon" src="/Img/spinner.png" />
</div>

<div id="error-view" class="error">
    <p class="error-message"></p>
</div>

<div id="results-list" class="form-control results-list">
    <div class="results__row">
        <h2 class="destination-selector__label">Best</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span id="best-time" class="result-amount"></span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span id="best-price" class="result-amount"></span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button id="select-best-button" class="results__select btn btn-light">Select</button>
    </div>
    <div class="results__row">
        <h2 class="destination-selector__label">Fastest</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span id="fastest-time" class="result-amount"></span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span id="fastest-price" class="result-amount"></span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button id="select-fastest-button" class="results__select btn btn-light">Select</button>
    </div>
    <div class="results__row">
        <h2 class="destination-selector__label">Cheapest</h2>
        <div class="result-info">
            <div class="result-info__section">
                <span class="result-metric">Time:</span>
                <span id="cheapest-time" class="result-amount"></span>
                <span class="result-unit">hours</span>
            </div>
            <div class="result-info__section">
                <span class="result-metric">Price:</span>
                <span id="cheapest-price" class="result-amount"></span>
                <span class="result-unit">dollars</span>
            </div>
        </div>
        <button id="select-cheapest-button" class="results__select btn btn-light">Select</button>
    </div>
</div>